// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";


* {
  box-sizing: border-box;
}


.info {
  border: rgb(78, 23, 35) solid 7px;
  margin: 40px;
  padding: 20px;
  box-shadow: 10px 10px 5px #888888;
}

.info > span {
  font-size: 40px;
}

.info > p {
  font-size: 20px;
  font-weight: bold;
  display:inline;
}

#address {
  font-style: italic;
  font-weight: normal;
}
