// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";


* {
  box-sizing: border-box;
}


.info {
  border: rgb(78, 23, 35) solid 7px;
  margin: 40px;
  padding: 20px;
  box-shadow: 10px 10px 5px #888888;
}

.name {
  font-size: 40px;
}

.info > p {
  font-size: 20px;
  font-weight: bold;
}

#address {
  font-style: italic;
  font-weight: normal;
  font-size: 25px;
}

.restaurant_image {
  margin-top: 20px;
  width: 100%;
}

.back_restaurants {
  text-decoration: none;
  font-weight: bold;
  &:link{
    color: rgb(78, 23, 35)
  }
  &:active{
    color: grey;
  }
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.price_range  {
  border: none;
  align-content: center;
}

.price_range > input { display: none; }
.price_range > label:before {
  margin: 5px;
  font-size: 1.25em;
  display: inline-block;
  content: "$";
}

.price_range > label {
  color: #ddd;
 float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.price_range > input:checked ~ label, /* show gold star when clicked */
.price_range:not(:checked) > label:hover, /* hover current star */
.price_range:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.price_range > input:checked + label:hover, /* hover current star when changing price_range */
.price_range > input:checked ~ label:hover,
.price_range > label:hover ~ input:checked ~ label, /* lighten current selection */
.price_range > input:checked ~ label:hover ~ label { color: #FFED85;  }
