// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form {
  border: rgb(78, 23, 35) solid 7px;
  margin: 40px;
  padding: 20px;
  box-shadow: 10px 10px 5px #888888;
}
